Repository YAPP-Github/24th-Web-Team-1-FE, pull requests merged in 2024-06, with the labels that each got.

#4 [ Init/3 ] 프로젝트 초기 환경 구축
  .eslintrc.json
  .github/ISSUE_TEMPLATE.md
  .github/workflows/cache-install.yml
  .github/workflows/lint-check.yml
  .github/workflows/pull-request-test.yml
  .gitignore
  .prettierrc
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/test/index.spec.ts
  components.json
  components/ui/button.tsx
  jest.config.ts
  jest.setup.ts
  lib/utils.ts
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/next.svg
  public/vercel.svg
  tailwind.config.ts
  tsconfig.json
Labels: ✨ init

#9 [ Init/6 ] 폴더구조 및 테스트 파일 분리 작업
  .github/workflows/cache-install.yml
  .github/workflows/lint-check.yml
  .github/workflows/pull-request.yml
  .prettierrc
  .storybook/main.ts
  .storybook/preview.ts
  app/globals.css
  app/test/index.spec.ts
  components/ui/button.tsx
  create-component.js
  lib/utils.ts
  package.json
  pnpm-lock.yaml
  src/api/api-config.ts
  src/api/query-client.ts
  src/app/favicon.ico
  src/app/globals.css
  src/app/home/__test__/__snapshots__/home.test.tsx.snap
  src/app/home/__test__/home.test.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
  src/constants/endpoint.ts
  src/hooks/useIsMounted.tsx
  src/lib/__test__/compareDates.test.ts
  src/lib/compareDates.ts
  src/lib/utils.ts
  src/middleware.ts
  tsconfig.json
Labels: ✨ init

#11 [ Style/10 ] global 레이아웃으로 모바일 뷰 설정
  next.config.mjs
  public/assets/icon16/share_16.svg
  public/assets/icon24/instagram_24.svg
  public/assets/icon24/link_24.svg
  public/assets/icon25/back_25.svg
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/queryClientProvider.tsx
  src/fonts/Pretendard-Bold.woff2
  src/fonts/Pretendard-Light.woff2
  src/fonts/Pretendard-Medium.woff2
  src/fonts/Pretendard-Regular.woff2
  src/fonts/Pretendard-SemiBold.woff2
  tailwind.config.ts
Labels: 🎨 style

#24 [ fix ] cloudflare deployment
  next.config.mjs
  package.json
Labels: fix

#25 [ Init/23 ] vitest 로 환경 변경
  .github/workflows/pull-request.yml
  package.json
  pnpm-lock.yaml
  src/article/components/articlePopup/articlePopup.test.ts
  src/article/components/articlePopup/articlePopup.test.tsx
  src/main/components/articlePopup/articlePopup.test.ts
  src/main/components/articlePopup/articlePopup.test.tsx
  src/quiz/components/articlePopup/articlePopup.test.ts
  src/quiz/components/articlePopup/articlePopup.test.tsx
  src/quiz/components/articlePopup/index.tsx
  src/workbook/components/articlePopup/articlePopup.test.ts
  src/workbook/components/articlePopup/articlePopup.test.tsx
  vitest.config.ts
  vitest.setup.ts
Labels: ✨ init

#28 [ Feature/ main 20 ] 구독 팝업 및 구독 완료 토스트 컴포넌트
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/common/components/ExternalControlOpenDialog/ExternalControlOpenDialog.test.ts
  src/common/components/ExternalControlOpenDialog/index.tsx
  src/main/constants/main.ts
  src/main/schemas/index.ts
  src/main/types/index.ts
  src/shared/components/ui/dialog.tsx
  src/shared/components/ui/form.tsx
  src/shared/components/ui/input.tsx
  src/shared/components/ui/label.tsx
  src/shared/components/ui/toast.tsx
  src/shared/components/ui/toaster.tsx
  src/shared/components/ui/use-toast.ts
  tailwind.config.ts
Labels: 🏠 Main, feature

#32 [ Feature/main 29 ] Main 진입 페이지 단위 컴포넌트 개발 - 이메일 구독 버텀 바
  src/app/page.tsx
  src/common/components/ExternalControlOpenDialog/ExternalControlOpenDialog.test.ts
  src/common/components/ExternalControlOpenDialog/index.tsx
  src/main/components/SubscribeBottomBar/SubscribeBottomBar.test.tsx
  src/main/components/SubscribeBottomBar/index.tsx
  src/main/constants/main.ts
  src/main/hooks/useSubscribeForm.tsx
  src/main/schemas/index.ts
  src/shared/components/ui/dialog.tsx
Labels: 🏠 Main, feature

#34 [ Fix/develop deploy ] Develop branch deploy 에러 픽스
  src/app/layout.tsx
  src/app/page.tsx
  src/app/quiz/page.tsx
  src/main/components/SubscribeBottomBar/SubscribeBottomBar.test.tsx
  src/main/components/SubscribeBottomBar/index.tsx
  src/main/hooks/useSubscribeForm.tsx
  src/main/schemas/index.ts
  src/main/types/index.ts
  src/shared/components/ui/button.tsx
  src/shared/components/ui/dialog.tsx
  src/shared/components/ui/form.tsx
  src/shared/components/ui/label.tsx
  src/shared/components/ui/toast.tsx
  src/shared/components/ui/use-toast.ts
Labels: fix

#31 [ Feature/quiz 26 ] 퀴즈 페이지 단위 컴포넌트 개발 - 2
  .github/workflows/gpt-code-review.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/api/api-config.ts
  src/app/api/quiz/route.ts
  src/app/api/tags/route.ts
  src/app/layout.tsx
  src/app/quiz/page.tsx
  src/common/components/Tag/index.tsx
  src/common/components/TagList/index.tsx
  src/mocks/response/index.ts
  src/mocks/response/quiz.json
  src/mocks/response/tags.json
  src/mocks/worker.ts
  src/quiz/components/TagList/TagList.stories.tsx
  src/quiz/components/TagList/index.tsx
  src/quiz/constants/endpoint.ts
  src/quiz/remotes/getTagQueryOptions.ts
  src/quiz/remotes/index.ts
  src/quiz/types/tagInfo.ts
  src/shared/constants/apiRoutes.ts
  src/shared/constants/endpoint.ts
  tsconfig.json
Labels: 🤔 Quiz, feature

#43 [ Feature/workbook 35 ] Workbook 랜딩 페이지 단위 컴포넌트 개발
  package.json
  pnpm-lock.yaml
  public/assets/icon36/share_36.svg
  public/main_img.png
  src/app/page.tsx
  src/app/workbook/[id]/page.tsx
  src/app/workbook/page.tsx
  src/app/workbook/workbookpage.test.tsx
  src/main/components/SubscribeBottomBar/SubscribeBottomBar.test.tsx
  src/mocks/handlers.ts
  src/mocks/response/index.ts
  src/mocks/response/workbook.json
  src/mocks/worker.ts
  src/shared/constants/apiRoutes.ts
  src/workbook/components/CurriculumItem/index.tsx
  src/workbook/components/CurriculumSection/index.tsx
  src/workbook/components/OverviewSection/index.tsx
  src/workbook/components/TitleSection/index.tsx
  src/workbook/components/articlePopup/articlePopup.test.tsx
  src/workbook/components/articlePopup/index.tsx
  src/workbook/remotes/getWorkbookQueryOptions.ts
  src/workbook/remotes/index.ts
  src/workbook/types/index.ts
  src/workbook/utils/index.ts
  vitest.config.ts
Labels: 📚 Workbook, feature

#45 [ Feature/quiz 30 ] 문제풀이 단위 컴포넌트 및 테스트 코드 개발
  src/app/layout.tsx
  src/app/problem/[problemId]/page.tsx
  src/app/problem/layout.tsx
  src/app/quiz/page.tsx
  src/common/remotes/testQueryClient.tsx
  src/common/types/constKeyObject.ts
  src/mocks/MSWProviders.tsx
  src/mocks/handlers.ts
  src/mocks/response/index.ts
  src/mocks/response/problems.json
  src/mocks/response/submitAnswer.json
  src/problem/components/AnswerChoiceButton/AnswerChoiceButton.stories.ts
  src/problem/components/AnswerChoiceButton/index.tsx
  src/problem/components/AnswerChoiceList/AnswerChoiceList.test.tsx
  src/problem/components/AnswerChoiceList/index.tsx
  src/problem/components/AnswerSubmitButton/AnswerSubmitButton.stories.ts
  src/problem/components/AnswerSubmitButton/AnswerSubmitButton.test.tsx
  src/problem/components/AnswerSubmitButton/index.tsx
  src/problem/components/ChoiceFillCircleSvg/index.tsx
  src/problem/components/ProblemTitle/ProblemTitle.test.tsx
  src/problem/components/ProblemTitle/index.tsx
  src/problem/components/TagList/TagList.stories.tsx
  src/problem/components/TagList/index.tsx
  src/problem/constants/answerButtonInfo.ts
  src/problem/constants/problemInfo.ts
  src/problem/context/problemContext/index.tsx
  src/problem/hooks/useIsMounted.tsx
  src/problem/remotes/api.ts
  src/problem/remotes/getProblemQueryOptions.ts
  src/problem/remotes/getTagQueryOptions.ts
  src/problem/remotes/postProblemAnswerOption.ts
  src/problem/types/answerButtonInfo.ts
  src/problem/types/problemContextInfo.ts
  src/problem/types/problemInfo.ts
  src/problem/types/tagInfo.ts
  src/quiz/components/AnswerContextButton/AnswerContextButton.test.tsx
  src/quiz/components/AnswerContextButton/index.tsx
  src/quiz/components/TagList/index.tsx
  src/quiz/components/articlePopup/articlePopup.test.tsx
  src/quiz/components/articlePopup/index.tsx
  src/quiz/context/quizContext/index.tsx
  src/quiz/types/answerButtonInfo.ts
  src/quiz/types/quizContextInfo.ts
  src/quiz/utils/index.ts
  src/shared/constants/apiRoutes.ts
  tailwind.config.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Labels: feature

#44 [ Feature/workbook 41 ] Skeleton 화면 구현
  .eslintrc.json
  .gitignore
  generate-runtime-config.mjs
  package.json
  src/app/layout.tsx
  src/app/workbook/[id]/page.tsx
  src/app/workbook/workbookpage.test.tsx
  src/common/components/ContentSkeleton/index.tsx
  src/config/runtime.js
  src/mocks/handlers.ts
  src/problem/components/TagList/TagList.stories.tsx
  src/shared/components/ui/skeleton.tsx
  src/shared/utils/delay.ts
  src/workbook/components/CurriculumSection/index.tsx
  src/workbook/components/TitleSection/index.tsx
  src/workbook/components/WorkbookSkeleton/index.tsx
  src/workbook/remotes/getWorkbookQueryOptions.ts
Labels: 📚 Workbook, feature, config

#50 [ Refactor/convention 48 ] 쿼리 컨벤션 및 shared 폴더로 컴포넌트 이동
  src/app/problem/layout.tsx
  src/app/workbook/workbookpage.test.tsx
  src/common/components/ExternalControlOpenDialog/index.tsx
  src/problem/components/AnswerChoiceButton/index.tsx
  src/problem/components/AnswerChoiceList/AnswerChoiceList.test.tsx
  src/problem/components/ChoiceFillCircleSvg/index.tsx
  src/problem/components/ProblemTitle/index.tsx
  src/problem/components/TagList/index.tsx
  src/problem/remotes/api.ts
  src/problem/remotes/getProblemQueryOptions.ts
  src/problem/remotes/getTagQueryOptions.ts
  src/problem/remotes/postProblemAnswerOption.ts
  src/shared/components/ExternalControlOpenDialog/index.tsx
  src/shared/constants/createQueryProvider.tsx
  src/workbook/components/CurriculumItem/index.tsx
  src/workbook/components/CurriculumSection/index.tsx
  src/workbook/remotes/api.ts
  src/workbook/remotes/getWorkbookQueryOptions.ts
  src/workbook/types/index.ts
Labels: refactor

#52 [ Fix/workbook 47 ] 구독 팝업 스타일 깨짐 현상 수정 및 테스트 코드 작성
  .gitignore
  src/app/workbook/[id]/page.tsx
  src/app/workbook/workbookpage.test.tsx
  src/shared/components/ExternalControlOpenDialog/index.tsx
  src/workbook/components/SubscribeForm/SubscribeForm.test.tsx
  src/workbook/components/SubscribeForm/index.tsx
  src/workbook/components/WorkbookSkeleton/index.tsx
Labels: fix

#57 [ Feature/article-56 ] 아티클 페이지 개발 및 이메일 템플릿 컴포넌트 구현
  public/assets/icon/next.svg
  public/assets/icon/share.svg
  src/app/article/[articleId]/layout.tsx
  src/app/article/[articleId]/page.tsx
  src/app/article/page.tsx
  src/article/components/ArticleBottomButton/indext.tsx
  src/article/components/ArticleTitle/ArticleTitle.test.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/components/EmailContentTemplate/index.tsx
  src/article/components/WriterInfo/index.tsx
  src/article/components/articlePopup/index.tsx
  src/article/remotes/api.ts
  src/article/remotes/getArticleQueryOptions.ts
  src/article/remotes/index.ts
  src/article/types/index.ts
  src/common/components/TitleSection/index.tsx
  src/common/types/problemListContextInfo.ts
  src/mocks/handlers.ts
  src/mocks/response/article1.json
  src/mocks/response/index.ts
  src/shared/constants/apiRoutes.ts
  src/workbook/components/TitleSection/index.tsx
  src/workbook/types/index.ts
Labels: feature, 🍑 Article

#66 [ Feature/article problem 59 ] 아티클 및 문제풀이 페이지에서 zustand 활용해 문제플로우 구현
  package.json
  pnpm-lock.yaml
  src/app/problem/[problemId]/page.tsx
  src/app/problem/layout.tsx
  src/article/components/ArticleBottomButton/indext.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/hooks/useIsMounted.tsx
  src/article/types/index.ts
  src/common/components/Lottie/index.tsx
  src/common/components/TopBar/index.tsx
  src/common/context/problemListContext/index.tsx
  src/common/models/useProblemIdsViewModel.tsx
  src/common/stores/problemModuleStore.tsx
  src/common/types/problemListContextInfo.ts
  src/mocks/handlers.ts
  src/mocks/response/index.ts
  src/mocks/response/submitAnswer3.json
  src/problem/components/AnswerChoiceButton/index.tsx
  src/problem/components/AnswerChoiceList/index.tsx
  src/problem/components/AnswerSubmitButton/index.tsx
  src/problem/components/LottieWithContext/index.tsx
  src/problem/components/ProblemTopbar/index.tsx
  src/problem/components/TagList/index.tsx
  src/problem/constants/answerButtonInfo.ts
  src/problem/remotes/getProblemQueryOptions.ts
  src/problem/remotes/postProblemAnswerOption.ts
  src/problem/types/problemInfo.ts
  vitest.config.ts
  vitest.setup.ts
Labels: 🤔 Problem, feature, 🍑 Article

#69 [ Bugfix/article problem 67 ] zustand store 모킹 및 문제풀이 페이지 test code 작성
  src/app/problem/[problemId]/problemFirstIdpage.test.tsx
  src/app/problem/[problemId]/problemIdpage.test.tsx
  src/app/problem/[problemId]/problemLastIdPage.test.tsx
  src/article/components/ArticleTitle/ArticleTitle.test.tsx
  src/article/components/ArticleTitle/index.tsx
  src/common/components/LinkShare/LinkShare.test.tsx
  src/common/models/useProblemIdsViewModel.tsx
  src/common/stores/mockZustandStore.tsx
  src/common/stores/problemModuleStore.tsx
  src/problem/components/AnswerChoiceList/AnswerChoiceList.test.tsx
  src/problem/components/AnswerSubmitButton/AnswerSubmitButton.test.tsx
  src/problem/components/AnswerSubmitButton/index.tsx
  src/problem/components/LottieWithContext/index.tsx
  src/problem/components/ProblemTitle/ProblemTitle.test.tsx
  src/problem/components/ProblemTopbar/index.tsx
  src/problem/components/TagList/index.tsx
Labels: fix

#73 [ Feature/problem 72 ] 문제풀이 완료시 공유팝업 제작
  src/app/problem/[problemId]/page.tsx
  src/problem/components/ProblemCompleteDialog/ProblemCompleteDialog.test.tsx
  src/problem/components/ProblemCompleteDialog/index.tsx
Labels: feature

#71 [ Feature/problem 70 ] 문제 및 아티클 페이지에 skeleton 적용
  src/app/article/[articleId]/layout.tsx
  src/article/components/ArticleBottomButton/indext.tsx
  src/article/components/ArticleSkeleton/index.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/components/EmailContentTemplate/index.tsx
  src/mocks/handlers.ts
  src/problem/components/AnswerChoiceList/AnswerChoiceList.test.tsx
  src/problem/components/AnswerChoiceList/index.tsx
  src/problem/components/ProblemSkeleton/index.tsx
  src/problem/components/ProblemTitle/ProblemTitle.test.tsx
  src/problem/components/ProblemTitle/index.tsx
Labels: feature

#68 [ Common ] 구독 취소 (수신 거부) URL 변경
  src/app/unsubscribe/layout.tsx
  src/app/unsubscribe/page.tsx
  src/middleware.ts
  src/shared/constants/apiRoutes.ts
  src/workbook/components/UnsubscribeFormField/index.tsx
  src/workbook/hooks/useUnsubscribeForm.tsx
  src/workbook/schemas/index.ts
Labels: feature

#77 [ Bugfix/qa 76 ] 문제풀이 페이지의 QA 버그 사항 수정
  src/app/problem/[problemId]/problemLastIdPage.test.tsx
  src/mocks/handlers.ts
  src/mocks/response/article1.json
  src/problem/components/AnswerChoiceButton/index.tsx
  src/problem/components/AnswerSubmitButton/index.tsx
  src/problem/components/ChoiceFillCircleSvg/index.tsx
  src/problem/components/ProblemCompleteDialog/ProblemCompleteDialog.test.tsx
  src/problem/components/ProblemCompleteDialog/index.tsx
Labels: fix

#78 [ Feature/subscription 75 ] 구독 & 구독 취소 API 연결
  .eslintrc.json
  next.config.mjs
  src/app/unsubscribe/layout.tsx
  src/app/unsubscribe/page.tsx
  src/app/workbook/[id]/page.tsx
  src/app/workbook/[id]/unsubscribe/page.tsx
  src/main/hooks/useSubscribeForm.tsx
  src/main/schemas/index.ts
  src/main/types/index.ts
  src/middleware.ts
  src/subscription/components/SubscribeBottomBar/SubscribeBottomBar.test.tsx
  src/subscription/components/SubscribeBottomBar/index.tsx
  src/subscription/components/SubscribeForm/SubscribeForm.test.tsx
  src/subscription/components/SubscribeForm/index.tsx
  src/subscription/components/SubscribeFormField/index.tsx
  src/subscription/components/UnsubscribeForm/UnsubscribeForm.test.tsx
  src/subscription/components/UnsubscribeForm/index.tsx
  src/subscription/components/UnsubscribeFormField/index.tsx
  src/subscription/components/UnsubscribeTitle/index.tsx
  src/subscription/constants/subscribe.ts
  src/subscription/constants/unsubscribe.ts
  src/subscription/hooks/useSubscribeForm.tsx
  src/subscription/hooks/useUnsubscribeForm.tsx
  src/subscription/remotes/api.ts
  src/subscription/remotes/postSubscriptionQueryOptions.ts
  src/subscription/remotes/postUnsubscriptionQueryOptions.ts
  src/subscription/schemas/index.ts
  src/subscription/types/subscription.ts
  src/subscription/utils/index.ts
  src/workbook/hooks/useUnsubscribeForm.tsx
  src/workbook/schemas/index.ts
  src/workbook/types/index.ts
  tsconfig.json
  vitest.config.ts
Labels: feature

#64 [ Feature/common 61 ] 네트워크 오류 시 팝업 컴포넌트
  src/app/error.test.tsx
  src/app/error.tsx
  src/shared/components/NetworkError/index.tsx
  src/shared/constants/networkError.ts
Labels: feature

#85 [ Feature/mock 84 ] 목업 데이터 업데이트
  src/mocks/response/article1.json
  src/mocks/response/problems1.json
  src/mocks/response/problems2.json
  src/mocks/response/problems3.json
  src/mocks/response/submitAnswer1.json
  src/mocks/response/submitAnswer2.json
  src/mocks/response/submitAnswer3.json
  src/mocks/response/workbook.json
Labels: feature

#83 [ Feature/workbook 82 ] 커리큘럼 아티클 진입 URL 연결
  src/shared/hooks/useWorkbookId.ts
  src/subscription/hooks/useSubscribeForm.tsx
  src/workbook/components/CurriculumItem/CurriculumItem.test.tsx
  src/workbook/components/CurriculumItem/index.tsx
Labels: feature

#87 [ Qa/workbook 86 ] Workbook 페이지 디자인 QA
  next.config.mjs
  src/app/workbook/[id]/page.tsx
  src/shared/components/TitleSection/index.tsx
  src/subscription/components/SubscribeBottomBar/index.tsx
  src/subscription/components/SubscribeFormField/index.tsx
  src/subscription/components/UnsubscribeFormField/index.tsx
  src/workbook/components/WriterInfo/index.tsx
  src/workbook/components/WriterLink/index.tsx
Labels: ⚡️ QA

#88 [ Feature/article 81 ] 워크북 -> 아티클 진입 및 아티클 단독 진입 분기처리 구현
  src/app/article/[articleId]/page.tsx
  src/app/problem/[problemId]/page.tsx
  src/app/problem/[problemId]/problemFirstIdpage.test.tsx
  src/app/problem/[problemId]/problemLastIdPage.test.tsx
  src/app/workbook/[id]/page.tsx
  src/article/components/ArticleBottomButton/indext.tsx
  src/article/components/ArticleTitle/ArticleTitleOnly.test.tsx
  src/article/components/ArticleTitle/ArticleTitleWithWorkbook.test.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/components/EmailContentTemplate/index.tsx
  src/article/remotes/api.ts
  src/article/remotes/getArticleWithWorkbookQueryOptions.ts
  src/article/types/index.ts
  src/common/components/TagList/TagList.stories.tsx
  src/common/components/TagList/index.tsx
  src/common/constants/articleCase.ts
  src/common/models/useProblemIdsViewModel.tsx
  src/common/stores/problemModuleStore.tsx
  src/mocks/handlers.ts
  src/mocks/response/articleWithWorkbook1.json
  src/mocks/response/index.ts
  src/problem/components/ProblemTagList/TagList.stories.tsx
  src/problem/components/ProblemTagList/index.tsx
  src/problem/components/TagList/index.tsx
  src/shared/components/TitleSection/TitleSection.test.tsx
  src/shared/components/TitleSection/index.tsx
  src/shared/constants/apiRoutes.ts
Labels: feature, 🍑 Article

#80 [ Bugfix/qa 79 ] 마지막 문제 풀이 이후 공유 링크 변경
  src/app/article/[articleId]/page.tsx
  src/app/problem/[problemId]/page.tsx
  src/app/problem/[problemId]/problemFirstIdpage.test.tsx
  src/app/problem/[problemId]/problemLastIdPage.test.tsx
  src/app/workbook/[id]/page.tsx
  src/article/components/ArticleBottomButton/indext.tsx
  src/article/components/ArticleTitle/ArticleTitleOnly.test.tsx
  src/article/components/ArticleTitle/ArticleTitleWithWorkbook.test.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/components/EmailContentTemplate/index.tsx
  src/article/remotes/api.ts
  src/article/remotes/getArticleWithWorkbookQueryOptions.ts
  src/article/types/index.ts
  src/common/components/TagList/TagList.stories.tsx
  src/common/components/TagList/index.tsx
  src/common/constants/articleCase.ts
  src/common/models/useProblemIdsViewModel.tsx
  src/common/stores/problemModuleStore.tsx
  src/mocks/handlers.ts
  src/mocks/response/articleWithWorkbook1.json
  src/mocks/response/index.ts
  src/problem/components/ProblemCompleteDialog/ProblemCompleteDialog.test.tsx
  src/problem/components/ProblemCompleteDialog/index.tsx
  src/problem/components/ProblemTagList/TagList.stories.tsx
  src/problem/components/ProblemTagList/index.tsx
  src/problem/components/TagList/index.tsx
  src/shared/components/TitleSection/TitleSection.test.tsx
  src/shared/components/TitleSection/index.tsx
  src/shared/constants/apiRoutes.ts
Labels: fix, config

#91 [ 🎾 Test/90 ] 목업 변경으로 인한 테스트 실패 및 이전 에러상황 오류 수정
  src/app/problem/[problemId]/problemFirstIdpage.test.tsx
  src/app/problem/[problemId]/problemLastIdPage.test.tsx
  src/article/components/ArticleTitle/ArticleTitleOnly.test.tsx
  src/problem/components/AnswerChoiceList/AnswerChoiceList.test.tsx
  src/problem/components/ProblemTitle/ProblemTitle.test.tsx
Labels: test
