Repository YAPP-Github/24th-Web-Team-1-FE, pull requests merged in 2024-07, with the labels that each got.

#92 [ Feature/subscription 89 ] 구독 취소 페이지 뒤로 돌아가기 (레터로 돌아가기) 구현
  src/app/unsubscribe/UnsubscribePage.test.tsx
  src/app/unsubscribe/layout.tsx
  src/common/components/TopBar/index.tsx
  src/middleware.ts
  src/shared/constants/middlewareConstant.ts
  src/subscription/components/UnsubscribeForm/UnsubscribeForm.test.tsx
  src/subscription/components/UnsubscribeForm/index.tsx
  src/subscription/constants/unsubscribe.ts
  src/subscription/hooks/useArticleInfo.tsx
  src/subscription/hooks/useUnsubscribeForm.tsx
  src/subscription/remotes/postUnsubscriptionQueryOptions.ts
  src/subscription/utils/index.ts
Labels: feature

#98 [ Feature/seo 97 ] 워크북, 아티클 seo 적용
  src/app/article/[articleId]/layout.tsx
  src/app/workbook/[id]/layout.tsx
  src/app/workbook/[id]/page.tsx
  src/app/workbook/page.tsx
  src/middleware.ts
  src/shared/utils/metadata.ts
  src/workbook/components/ClientSubscribePopup/index.tsx
  src/workbook/remotes/getWorkbookQueryOptions.ts
  src/workbook/types/index.ts
Labels: feature, :keyboard: SEO

#96 [ Feature/mixpanel 95 ] 믹스패널 로깅 셋팅
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/workbook/[id]/page.tsx
  src/article/components/ArticleBottomButton/indext.tsx
  src/article/components/ArticleTitle/index.tsx
  src/problem/components/ProblemTitle/index.tsx
  src/shared/components/MixpanelProvider/index.tsx
  src/shared/constants/mixpanel.ts
  src/shared/utils/mixpanel.ts
Labels: feature, 💙 Mixpanel

#105 [ Bugfix/qa 104 ] 로그 데이터 심기 및 문제 풀이 아이디리스트 없이 진입불가
  src/app/problem/page.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/components/EmailContentTemplate/index.tsx
  src/middleware.ts
  src/problem/components/AnswerSubmitButton/index.tsx
  src/shared/constants/middlewareConstant.ts
  src/shared/remotes/index.ts
  src/shared/remotes/postLogMutationOptions.ts
  src/shared/types/index.ts
Labels: fix

#108 [ Bugfix/qa 107 ] 문제풀이 완료 팝업 노출 분기 수정
  src/app/problem/[problemId]/problemLastIdPage.test.tsx
  src/problem/components/ProblemCompleteDialog/ProblemCompleteDialog.test.tsx
  src/problem/components/ProblemCompleteDialog/index.tsx
Labels: fix

#109 refactor: add middleware utils
  src/middleware.ts
  src/shared/middlewares/article.ts
  src/shared/middlewares/main.ts
  src/shared/middlewares/problem.ts
  src/shared/middlewares/subscription.ts
  src/shared/middlewares/workbook.ts
Labels: refactor

#114 [ Refactor/problem 94 ] 문제풀이 페이지 model 구현
  src/problem/components/AnswerChoiceButton/index.tsx
  src/problem/components/AnswerSubmitButton/index.tsx
  src/problem/models/AnswerChoiceModel.ts
  src/problem/models/AnswerSubmitModel.ts
Labels: refactor

#117 [ Feature/DEV-15 ] axios -> fewFetch 로 변경
  package.json
  pnpm-lock.yaml
  src/api/api-config.ts
  src/api/fewFetch.ts
  src/api/queryClient.ts
  src/app/article/[articleId]/layout.tsx
  src/app/workbook/[id]/layout.tsx
  src/article/remotes/getArticleQueryOptions.ts
  src/article/remotes/getArticleWithWorkbookQueryOptions.ts
  src/middleware.ts
  src/problem/components/AnswerChoiceButton/index.tsx
  src/problem/components/ProblemCompleteDialog/index.tsx
  src/problem/components/ProblemExplanation/index.tsx
  src/problem/components/ProblemTitle/index.tsx
  src/problem/models/AnswerChoiceModel.ts
  src/problem/remotes/getProblemQueryOptions.ts
  src/problem/remotes/getProblemsQueryOptions.tsx
  src/problem/remotes/postProblemAnswerOption.ts
  src/problem/types/problemInfo.ts
  src/shared/components/queryClientProvider/index.tsx
  src/shared/constants/apiRoutes.ts
  src/shared/constants/createQueryProvider.tsx
  src/shared/remotes/postLogMutationOptions.ts
  src/subscription/hooks/useSubscribeForm.tsx
  src/subscription/remotes/postSubscriptionQueryOptions.ts
  src/subscription/remotes/postUnsubscriptionQueryOptions.ts
  src/subscription/types/subscription.ts
  src/workbook/remotes/getWorkbookQueryOptions.ts
Labels: feature

#119 [ feature/DEV-40 ] metadata 형성시 prefetch 하도록 구현
  src/api/fewFetch.ts
  src/api/queryClient.ts
  src/app/article/[articleId]/layout.tsx
  src/app/article/[articleId]/page.tsx
  src/app/layout.tsx
  src/app/workbook/[id]/layout.tsx
  src/article/components/ArticleTitle/index.tsx
  src/article/remotes/getArticleWithWorkbookQueryOptions.ts
  src/common/constants/articleCase.ts
  src/problem/components/AnswerSubmitButton/index.tsx
Labels: feature

#120 [ Refactor/dev 14 ] workbook page에 dynamic import 구현
  src/app/workbook/[id]/page.tsx
  src/article/components/WriterInfo/index.tsx
  src/workbook/components/OverviewSection/index.tsx
  src/workbook/components/WorkBookMainImage/index.tsx
  src/workbook/components/WorkbookSkeleton/index.tsx
Labels: refactor

#123 Refactor/dev 14 -> main
  src/app/workbook/[id]/page.tsx
  src/article/components/WriterInfo/index.tsx
  src/workbook/components/OverviewSection/index.tsx
  src/workbook/components/WorkBookMainImage/index.tsx
  src/workbook/components/WorkbookSkeleton/index.tsx
Labels: refactor

#125 [ Feature/ DEV-13 ] 로고 컴포넌트 구현 및 회원가입 페이지 생성
  public/enterlogo.svg
  src/app/auth/page.tsx
  src/app/auth/validation/complete/page.tsx
  src/app/auth/validation/page.tsx
  src/app/workbook/[id]/page.tsx
  src/auth/components/LoginLogo/index.tsx
  src/auth/components/SignupProgress/index.tsx
  src/auth/constants/auth.ts
  src/problem/components/ProblemTitle/index.tsx
  src/workbook/components/WorkBookMainImage/index.tsx
  tailwind.config.ts
Labels: feature

#126 [ Feature/dev 58 ] 메인 페이지 > 워크북 카드 컴포넌트 ui
  next.config.mjs
  public/assets/icon/cardFewLogo.svg
  src/app/globals.css
  src/common/types/category.ts
  src/main/components/CategoryTabs/category.test.tsx
  src/main/components/CategoryTabs/index.tsx
  src/main/components/WorkbookCard/index.tsx
  src/main/components/WorkbookCardDetail/index.tsx
  src/main/components/WorkbookCardList/index.tsx
  src/main/components/WorkbookCardsWrapper/index.tsx
  src/main/models/workbookCardModel.test.tsx
  src/main/models/workbookCardModel.tsx
  src/main/remotes/getWorkbookCategoryQueryOptions.ts
  src/main/types/workbook.ts
  src/mocks/response/category.json
Labels: feature

#127 [ Feature/dev 50 ] 메인페이지 > 아티클 카드 컴포넌트 ui 제작
  public/assets/icon/eye.svg
  src/main/components/ArticleCard/index.tsx
  src/main/components/ArticleCardDetail/index.tsx
  src/main/components/ArticleCardList/index.tsx
  src/main/components/ArticleCardsWrapper/index.tsx
  src/main/components/CategoryTabs/index.tsx
  src/main/components/MainContentWrapper/index.tsx
  src/main/hooks/useCategory.tsx
  src/main/models/ArticleCardModel/ArticleCardModel.test.ts
  src/main/models/ArticleCardModel/index.ts
  src/main/types/article.ts
  src/main/types/index.ts
  src/shared/components/Tag/index.tsx
Labels: feature

#124 [ Feature/dev 8 ] 메인페이지 공통 ui컴포넌트 개발
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/icon/cardFewLogo.svg
  public/assets/icon/eye.svg
  public/assets/icon/fewlogo.svg
  public/assets/icon/hamburgerMenu.svg
  src/app/globals.css
  src/app/page.tsx
  src/common/types/category.ts
  src/main/components/ArticleCard/index.tsx
  src/main/components/ArticleCardDetail/index.tsx
  src/main/components/ArticleCardList/index.tsx
  src/main/components/ArticleCardsWrapper/index.tsx
  src/main/components/CategoryTabs/category.test.tsx
  src/main/components/CategoryTabs/categoryTabs.stories.tsx
  src/main/components/CategoryTabs/index.tsx
  src/main/components/MainContentWrapper/index.tsx
  src/main/components/MainHeader/MainHeader.stories.ts
  src/main/components/MainHeader/index.tsx
  src/main/components/WorkbookCard/index.tsx
  src/main/components/WorkbookCardDetail/index.tsx
  src/main/components/WorkbookCardList/index.tsx
  src/main/components/WorkbookCardsWrapper/index.tsx
  src/main/hooks/useCategory.tsx
  src/main/models/ArticleCardModel/ArticleCardModel.test.ts
  src/main/models/ArticleCardModel/index.ts
  src/main/models/workbookCardModel.test.tsx
  src/main/models/workbookCardModel.tsx
  src/main/remotes/getWorkbookCategoryQueryOptions.ts
  src/main/remotes/index.ts
  src/main/types/article.ts
  src/main/types/index.ts
  src/main/types/workbook.ts
  src/middleware.ts
  src/mocks/handlers.ts
  src/mocks/response/category.json
  src/mocks/response/index.ts
  src/shared/components/Tag/index.tsx
  src/shared/components/ui/separator.tsx
  src/shared/components/ui/tabs.tsx
  src/shared/constants/apiRoutes.ts
Labels: feature

#128 [ Feature/dev 60 ] 로그인 또는 회원가입 mock API 연결
  src/app/auth/validation/page.tsx
  src/auth/components/EmailForm/EmailForm.test.tsx
  src/auth/constants/auth.ts
  src/auth/hooks/useEmailForm.tsx
  src/auth/remotes/api.ts
  src/auth/remotes/postMembersQueryOption.ts
  src/auth/types/auth.ts
  src/mocks/handlers.ts
  src/mocks/response/index.ts
  src/mocks/response/members.json
  src/shared/constants/apiRoutes.ts
Labels: feature
